streamlit==1.38.0
pandas==2.2.2
xlsxwriter==3.2.9
SQLAlchemy==2.0.43
PyMySQL==1.1.0
Pillow==10.4.0
requests==2.32.3
# Si tu MySQL usa caching_sha2_password:
# cryptography==43.0.1
streamlit-autorefresh==1.0.1
